.heroContainer {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.headerContent {
    padding: 0px 20px;
    top: 15px;
    width: 1170px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}

.headerContent>div:first-child {
    color: #e1193e;
}

.headerContent>div:first-child span {
    color: #fff;
    font-size: 1.1rem;
}

.headerContent>div:last-child {
    display: flex;
    margin-right: -15px;
    gap: 5px;
}

.headerContent>div:last-child a {

    color: #fff;
    background-color: #e1193e;
    padding: 5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent>div:last-child a span {
    transform: skew(17deg);
}

.headerContent>div:last-child a:hover {
    background-color: #1425af;
}

.carouselContainer {

    position: relative;
    z-index: 10;
    top: -156px;
    height: 100%;
    width: 100%;

}

.carousel_item_wrapper {
    height: 100vh;
    width: 100%;
    position: relative;

}

.backgroundImg {
    height: 100%;
    position: relative;
    z-index: -10;
}




.backgroundImg {
    height: 100%;
    width: 100%;
}

.heroDescriptionsBg {
    background-color: #1211118f;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    opacity: 1;
    color: #fff;
    padding: 20px;
}

.heroDescriptions {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1000;
}


.heroDescriptions h1 {
    font-style: italic;
    font-size: 60px;
    font-weight: 700;
    width: 500px;
    line-height: 60px;
    margin-bottom: 20px;
}

.heroDescriptions p {
    width: 500px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: #cfcecf;
}

.heroDescriptions Button {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    background-color: #e1193e;

}

.heroDescriptions Button:hover {
    background-color: #1425af !important;
}

.socialSite {
    -webkit-transform:
        skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-20deg);
}

.tabContainer {
    position: relative;
    padding: 0px 20px;
    top: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 205px;
}

.tabContainer .dazkoLogo {
    margin-top: -20px;
    color: #e1193e;
    font-size: 3rem;
}

.tabContainer>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 20px;

}

.memberBtn {
    margin-bottom: 20px;
}

.memberBtn Button {
    position: relative;
    top: 20px;

    height: 50px;
    border-radius: 0px;
    background-color: #e1193e;
    border: none;
    color: #fff;
    letter-spacing: 3px;
    margin-left: 20px;

    margin-top: 8px;
}

.memberBtn Button:hover {
    color: #fff !important;
}

.angledBorder {
    display: flex;
    position: relative;
    top: -30px;
    right: 10px;
    width: 40px;
    border: none;
    background-color: #e1193e;
    -webkit-transform:
        skewX(-25deg);
    -moz-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
    height: 50px;

}

.tabTopBorder {
    max-width: 919px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 2px;
    background-color: red;
    top: 30px;
    left: 50px;
    background: linear-gradient(to right, rgba(210, 227, 238, 0) 0%, #e1193e 100%);
    width: 700px;

}

.responsiveHeader {
    display: none;
}

.bgImage {
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    -o-object-position: center;

}

@media only screen and (max-width: 415px) {
    .headerContent {
        display: none;
    }

    .angledBorder {
        display: none;
    }

    .responsiveHeader {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 10px;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000;
        z-index: 100;
    }

    .responsiveHeader>div:first-child h3,
    .responsiveHeader>div:first-child p {
        margin: 0px;
    }

    .responsiveHeader>div:first-child h3 {
        color: #fff;
        font-size: 1.5rem;
    }

    .responsiveHeader>div:first-child p {
        color: #e1193e;
        font-size: 1rem;
    }

    .hamburger {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .hamburger>div:last-child {
        color: #e1193e;
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    .slice {
        margin-bottom: 5px;
        height: 2px;
        width: 20px;
        background-color: #e1193e;
    }

    .tabTopBorder {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 50px;
        transition-delay: .4s;

    }

    .tabContainer {
        position: absolute;
        z-index: 20;
        padding: 0px;
        margin-top: 20px;
        background-color: #000;
        width: 100%;
        transition: all .4s ease-in-out;

    }

    .tabContainer>div:first-child {
        display: none;
    }

    .tabContainer>div:nth-child(2) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        left: -120px;

    }

    .memberBtn Button {
        position: relative;
        top: -20px;
        height: 40px;
        width: 150px;
        font-size: 0.8rem;
        -webkit-transform:
            skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        transform: skewX(0deg);
        margin-left: -5px;
    }

    .carouselContainer {
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 415px;
    }

    .borderActive {
        display: block;
    }

    .borderInActive {
        display: none;
    }


    .tabInActive {
        transform: translateY(-600px);

    }

    .tabActive {
        transform: translateY(0px);

    }

    .heroDescriptions h1 {
        font-size: 40px;
        width: 100%;
    }

    .heroDescriptions p {
        font-size: 1.4rem;
        width: 100%;
    }

    .bgImage {

        object-fit: cover;
        object-position: center;
        -o-object-position: center;

    }

}